<div>
  <form {{action 'createLink' on='submit'}}>
    {{input class="form-control" type="text" placeholder="A description for the link" value=description}}
    {{input class="form-control" type="text" placeholder="The URL for the link" value=url}}
    {{input class="button" type="submit" value="POOP"}}
  </form>
</div>